header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  padding: 18px;
}

nav {
  display: flex;
  gap: 36px;
}

a {
  color: #00D8FF;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 16px;
}

nav > a {
  border-bottom: 2px solid transparent;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: #20F8FF;
}

nav > a:hover {
  border-bottom: 2px solid #20F8FF;
  color: #20F8FF;
}

.link-container {
  padding: 4px 12px;
}

.subsection {
  padding-left: 24px;
}

.monster-list,
.monster-details,
.spell-list,
.spell-details {
  max-width: 900px;
  margin: 0 auto 36px;
}

.logo {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-left-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes logo-right-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-left {
    animation: logo-left-spin infinite 20s linear;
  }
  .logo-right {
    animation: logo-right-spin infinite 20s linear;
  }
}

.page-title {
  text-align: center;
}

.starship-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px;
}

.starship-card {
  background-color: rgb(18, 69, 73);
  border-radius: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: border-color 0.25s;
  transition: font-weight 0.25s;
}

.starship-card:hover {
  border: 2px solid rgb(55, 166, 174);
  color: white;
  font-weight: 700;
}

main.starship-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.starship-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 200px;
  background-color: rgb(18, 69, 73);
  padding: 20px;
  border-radius: 10px;
}

.starship-info-container h4 {
  margin: 0;
  padding: 0;
}

.return-link {
  color: white;
}
